.button {
	position: relative;
	z-index: 7;

	display: grid;
	align-items: center;

	width: 100%;
	height: 50px;

	cursor: pointer;
	transition-duration: 300ms;

	border: none;

	border-radius: 16px;
	outline: none;
	background: var(--primary);
	justify-items: center;
	box-shadow: 0 9px 24px -14px rgba(237, 98, 20, 1);
}

.iconButton {
	width: fit-content;
	padding: 0 16px;
}

.button:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.text {
	display: grid;
	align-items: center;

	user-select: none;
	text-align: center;

	color: var(--white);

	font-weight: 600;
}

.iconText {
	grid-template-columns: auto 1fr;
	gap: 12px;
}

.text > svg {
	fill: var(--white);

	width: 24px;
}

.spinner {
	width: 15px;
	height: 15px;

	animation: spin 1s linear infinite;

	border: 3px solid var(--white);
	border-top: 3px solid var(--primary);
	border-radius: 9999px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.disableButton {
	cursor: default;
	filter: none !important;

	background: var(--dark);
	box-shadow: none;
}
