.planBlock {
	display: grid;

	width: 100%;
	gap: 30px;
	justify-items: center;
}

.planList {
	display: grid;

	width: calc(100% + 24px);
	height: fit-content;
	padding: 8px 0 8px 16px !important;

	border-radius: 16px 0 0 16px;
	background: rgba(255, 190, 3, 0.3);
	justify-self: left;
	justify-items: left;
}
