.connectedDevices {
	display: grid;

	width: 100%;
	gap: 10px;
	justify-items: left;
}

.connectedDevicesTitle {
	display: grid;
	align-items: center;

	width: 100%;
	margin-bottom: 10px;

	color: var(--tg-theme-text-color);

	font-weight: 600;
	grid-template-columns: 1fr auto;
	gap: 16px;
}

.plusIcon {
	width: 18px;

	cursor: pointer;
	transition-duration: 300ms;

	opacity: 0.5;
	fill: var(--tg-theme-subtitle-text-color);
}

.spinner {
	width: 15px;
	height: 15px;

	animation: spin 1s linear infinite;

	border: 2px solid transparent;
	border-top: 2px solid var(--primary);
	border-radius: 9999px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.plusIcon:active,
.webaPlus:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);

	opacity: 1;
}
